body {
  scroll-behavior: smooth;
}

.React {
  color: rgba(8, 144, 178, 0.649);
}

.React:hover {
  color: rgb(6 182 212);
}

.JavaScript {
  color: rgba(223, 154, 35, 0.662);
}

.JavaScript:hover {
  color: rgb(251, 229, 36);
}

.CSS {
  color: rgba(3, 106, 161, 0.744);
}

.CSS:hover {
  color: rgb(7, 157, 231);
}

.HTML {
  color: rgba(234, 90, 12, 0.625);
}

.HTML:hover {
  color: rgb(249 115 22);
}

.scroller {
  display: flex;
  animation: 40s infinite linear scroll;
  width: calc(250px * 18);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-80px * 18));
  }
}

@media (max-width: 500px) {
  .scroller {
    width: calc(190px * 18);
    animation: 40s infinite linear scroll;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-40px * 18));
    }
  }
}

.swiper {
  width: 280px;
  height: 479px;
}
.bg-initial {
  background-image: url("./assets/header.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-fond {
  background-image: url("./assets/paper.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bg-nav {
  height: 4em;
  width: 100%;
  background-image: url("./assets/navbar.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-hover {
  width: auto;
  padding: 0.5em 1.5em;
}
.bg-hover:hover {
  background-image: url("./assets/select.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-download {
  background-image: url("./assets/download.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-cloud {
  background-image: url("./assets/big-cloud.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-perg {
  background-image: url("./assets/perg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-marc {
  background-image: url("./assets/fond-portfolio.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-fond-port {
  background-image: url("./assets/paper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
