---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/computer.png" />
    <meta name="generator" content={Astro.generator} />
    <title>My Portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>
